apiVersion: v1
kind: Pod
metadata:
  name: "{{ app.name }}"
spec:
  volumes:
    - name: "{{ app.volume }}"
      persistentVolumeClaim:
        claimName: "pvc-{{ volume.name }}"
  containers:
    - name: "{{ app.container_name }}"
      image: "{{ app.image }}"
      ports:
        - containerPort: {{ app.port }}
          name: "{{ app.port_name }}"
      volumeMounts:
        - mountPath: "{{ app.mount_path }}"
          name: "{{ app.volume }}"
