apiVersion: v1
kind: PersistentVolume
metadata:
  name: "pv-{{ volume.name }}"
spec:
  storageClassName: "{{ storageclass_name }}"
  capacity:
    storage: "{{ volume.capacity }}"
  accessModes:
    - ReadWriteMany
  nfs:
    server: "{{ nfs_server }}"
    path: "{{ nfs_path }}"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: "pvc-{{ volume.name }}"
spec:
  storageClassName: "{{ storageclass_name }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: "{{ volume.capacity }}"
