[defaults]
debug=False
host_key_checking=False

[privilege_escalation]
become_user=root


[persistent_connection]
command_timeout=15
connect_retry_timeout=15
connect_timeout=30

[connection]


[colors]
changed=yellow

[selinux]

[diff]

[galaxy]

[inventory]

[netconf_connection]

[paramiko_connection]

[jinja2]

[tags]

[runas_become_plugin]

[su_become_plugin]

[sudo_become_plugin]

[callback_tree]

[ssh_connection]

[winrm]

[inventory_plugins]

[inventory_plugin_script]

[inventory_plugin_yaml]

[url_lookup]

[powershell]

[vars_host_group_vars]
